.grid-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 40px;
}

.grid-layout {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 50px);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav button {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.columns-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.columns-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.columns-5 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.columns-6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-item {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


.seleccion{
  flex-grow: 0.2;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 0;
}

.radar{
  transform: scale(0.8);
  transform-origin:center;
  justify-content: center;
  align-items: center;
  padding: 0px;
}


.label{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.nombre{
  margin: 0 10px;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.input-config{
  margin-left: 10px;
  margin: 0 10px;
  left: 0;
  position: absolute;
  display: flex;
  margin-top: auto;
  align-items: center;
}

.lista-configs{
  overflow: auto;
}
